{% extends "base.html" %}
{% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h2>Are you sure you want to delete
                <em>"{{ readbook.title }}"</em>
                . {{ readbook.author }}?</h2>
        </div>
    </div>
    <div class="container">
        <form method="post">{% csrf_token %}
            <input type="submit" value="Confirm">
        </form>
        <a href="{% url 'read_books_detail' readbook.id %}">
            <button>Cancel</button>
        </a>
    </div>
</main>

{% endblock %}