{% extends "base.html" %}
{% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            {% if readbook %}
                <h1>{{ readbook.title }} update</h1>
            {% else %}
                <h1 class="display-3">Adding a new book</h1>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
        {% if readbook %}
            <a href="{% url 'read_books_detail' readbook.id %}">
                <button>Cancel</button>
            </a>
        {% else %}
            <a href="{% url 'read_books_list' %}">
                <button>Cancel</button>
            </a>
        {% endif %}
    </div>
</main>

{% endblock %}