{%  extends "base.html" %}

{% block title %}Book{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'read_books_list' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'read_books_update' readbook.id %}">Change <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'read_books_delete' readbook.id %}">Delete book <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ readbook.title}}</h1>
            <p>{{ readbook.created_at }}</p>
            <p>{{ readbook.author}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p>{{ readbook.description }}</p>
        </div>
    </div>
</main>
{% endblock %}