{% extends 'base.html' %}

{% block title %} My read books {% endblock %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My read books</h1>
            <p>“The man who does not read good books is no better than the man who can’t.” </p>
            <p>Mark Twain</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for book in readbook_list %}
            <div class="col-md-4">
                <h2>{{ book.title }}</h2>
                <p>{{ book.author }}</p>
                <p>{{ book.description | slice:":400" }}</p>
                <p><a class="btn btn-secondary" href="{% url "read_books_detail" book.id %}" role="button">View details &raquo;</a></p>
            </div>
            {% endfor %}
        </div>

        <hr>

    </div>
</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
{% endblock %}